@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Rubik';
}

.container {
	display: grid;
	grid-template-columns: 30rem 1fr;
	grid-template-rows: min-content 1fr min-content;
	margin-bottom: 8rem;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Rubik';
}

.container {
	display: grid;
	grid-template-columns: 30rem 1fr;
	grid-template-rows: min-content 1fr min-content;
	margin-bottom: 8rem;
}
